html {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  box-sizing: border-box;
  overflow-x: hidden;
}

header {
  background-image: url(bg_image.jpg);
  height: 100vh;
}

.head-content {
  background-color: rgba(0, 0, 0, 0.801);
}

.navbar {
  height: 11vh;
  display: flex;
  margin-bottom: 67vh;
}

.navbar img {
  width: 10vw;
  margin-left: 9vw;
}

.options {
  margin-right: 10vw;
}

.options .lang-select {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  border-radius: 0.5vw;
  padding: 0.5vh 1vw 0.5vh 1vw;
  margin-right: 0.5vw;
}

.lang-select option {
  background-color: white;
  color: black;
}

.signin-button {
  border: none;
  padding: 0.5vh 1vw 0.5vh 1vw;
  border-radius: 0.5vw;
  background-color: red;
  color: white;
  font-weight: 500;
}

.nav-pannel {
  text-align: center;
  position: relative;
  bottom: 44vh;
}

.pannel-heading {
  font-size: 3.5vw;
  font-weight: 900;
  line-height: 9vh;
}

.pannel-offer {
  font-size: 1.25vw;
  font-weight: 700;
}

.pannel-info {
  font-weight: 500;
  font-size: 1vw;
  margin-top: 4vh;
}

.pannel-input {
  height: 8vh;
  width: 23vw;
  border-radius: 0.25vw;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.425);
  color: rgba(255, 255, 255, 0.724);
  padding-left: 1vw;
  font-weight: 500;
}

.pannel-input::placeholder {
  color: rgba(255, 255, 255, 0.724);
  font-weight: 500;
}

.input-button {
  height: 8vh;
  width: 13vw;
  margin-left: 0.5vw;
  font-size: 1.5vw;
  border-radius: 0.25vw;
  border: none;
  background-color: red;
  color: white;
  font-weight: 700;
}

.extra {
  height: 35vh;
  border-top: 0.75vh solid red;
  margin-top: 15vh;
  border-radius: 50%;
  background-color: #00000075;
}

.trending-now {
  position: relative;
  z-index: 1;
  background-color: black;
}

.trending-now h4 {
  margin-left: 10vw;
  padding-top: 5vh;
  font-weight: 700;
  background-color: black;
}

.trend-img {
  width: 80vw;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  margin-left: 10vw;
}

.trend-img::-webkit-scrollbar {
  display: none;
}

.trend-img .card {
  background-color: black;
  height: 40vh;
  width: 13vw;
  margin-left: 0.5vw;
  margin-top: 2vh;
  transition: transform 0.2s linear;
}

.trend-img .card img {
  height: 100%;
  object-fit: cover;
  border-radius: 1vw;
}

.trend-img .card:hover {
  transform: scale(1.06);
}

.img-num {
  color: rgba(0, 0, 0, 0.74);
  -webkit-text-stroke: 1.5px white;
  font-weight: 700;
  font-size: 7vw;
  position: relative;
  bottom: 22vh;
  right: 1.75vw;
}

.content-heading {
  padding-top: 4vh;
  margin-bottom: 5vh;
  margin-left: 10vw;
  font-weight: 700;
}

.container {
  display: flex;
  margin-left: 10vw;
}

.container .card {
  background: linear-gradient(to right, #1a1f40e0, #2a1627);
  color: white;
  height: 39vh;
  width: 18.5vw;
  margin-right: 1vw;
}

.container .card .card-body .card-title {
  font-weight: 500;
  margin-bottom: 2vh;
}

.card-icon {
  text-align: end;
  color: brown;
  font-size: 3vw;
  margin-top: 6.5vh;
}

.smile-icon {
  position: relative;
  bottom: 2.5vh;
  left: 2.5vw;
  z-index: 1;
  background: linear-gradient(to right, rgb(248, 171, 185), rgb(253, 130, 151));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.smile-icon2 {
  position: relative;
  z-index: 2;
  background: linear-gradient(to right, rgb(139, 2, 252), rgb(255, 0, 43));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-eye {
  background: linear-gradient(to right, orange, rgb(255, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-circle-down {
  background: linear-gradient(to right, rgb(241, 128, 252), rgb(243, 50, 82));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-desktop {
  background: linear-gradient(
    to right,
    rgb(158, 5, 5),
    rgb(112, 5, 112),
    rgb(246, 57, 192)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content {
  background-color: black;
}

.join-card {
  color: rgb(177, 175, 175);
  font-weight: 600;
}

.faq-heading {
  margin-left: 10vw;
  font-weight: 700;
  margin-top: 4vh;
}

.faq {
  margin-left: 11vw;
  margin-bottom: 1vh;
  background-color: #2d2d2d;
  width: 78vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.2s linear;
}

.faq-1 {
  margin-top: 4vh;
}

.faq:hover {
  background-color: #3d3c3c;
}

.faq-ans {
  margin-left: 11vw;
  margin-bottom: 0.5vh;
  background-color: #2d2d2d;
  width: 78vw;
  font-size: 1.5vw;
  color: white;
  padding: 2.5vh 2vw 3vh 1vw;
  position: relative;
  bottom: 0.7vh;
  display: none;
}

.faq-select {
  height: 100%;
  background-color: transparent;
  border: none;
  font-size: 1.5vw;
  color: white;
  margin-left: 1vw;
}

.faq-button {
  height: 100%;
  background-color: transparent;
  border: none;
  font-size: 3.5vw;
  color: white;
  margin-right: 1vw;
}

.registration {
  margin-left: 30vw;
  margin-top: 10vh;
}

.registration p {
  font-size: 1.125vw;
  font-weight: 400;
  margin-left: 5vw;
}

.registration-corner {
  margin-left: -2.5vw;
}

.registration-input {
  height: 8vh;
  width: 35vw;
  border-radius: 0.25vw;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.425);
  color: rgba(255, 255, 255, 0.724);
  padding-left: 1vw;
  font-weight: 500;
}

.registration-button {
  height: 8vh;
  width: 13vw;
  margin-left: 0.5vw;
  font-size: 1.5vw;
  border-radius: 0.25vw;
  border: none;
  background-color: red;
  color: white;
  font-weight: 700;
}

.registration-input::placeholder {
  color: rgba(255, 255, 255, 0.724);
  font-weight: 500;
}

.footer-area {
  margin-top: 12vh;
  margin-left: 12vw;
  color: rgba(255, 255, 255, 0.724);
  font-weight: 500;
}

.footer-links {
  width: 75vw;
  margin-top: 6vh;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.list a {
  font-weight: 500;
  display: inline-block;
  margin-bottom: 1.5vh;
  font-size: 0.9vw;
}

a {
  color: rgba(255, 255, 255, 0.724);
}

.footer-langselect {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  border-radius: 0.5vw;
  padding: 0.5vh 1vw 0.5vh 1vw;
  margin-right: 0.5vw;
  margin-top: 5vh;
  background-color: transparent;
}

.footer-logo {
  margin-top: 5vh;
  font-size: 0.9vw;
  margin-bottom: 10vh;
}
